@charset "UTF-8";

.speech-bubble {
  margin: auto;
  position:relative;
  background: #fad296;
  width: 500px;
  font-size: 16px;
  border-radius: 30px;
  border: 5px solid #8f5a0a;
  line-height: 16px;
  padding: 20px;
}

.speech-bubble::before,.speech-bubble::after {
  position: absolute;
  content: '';
  display: block;
  left: 30px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.speech-bubble::before {
  bottom: -25px;
  border-top: 20px solid #8f5a0a;
}

.speech-bubble::after{
  bottom: -18px;
  border-top: 20px solid #fad296;
}